ecdsa>0.14
requests>=2.22.0,<3
websocket-client>=0.56.0,<1
pylibscrypt>=1.8.0,<2
pycryptodome>=3.9.1,<4
appdirs>=1.4.3,<2
scrypt>=0.8.13,<0.9
websockets>=8.1,<9
aiohttp>=3.5.4,<4
asyncinit>=0.2.4,<0.3
expiringdict
